.hero-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}

.hero_main {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 500px;
}

.hero__image img {
  width: 450px;
  height: auto;
}
